RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^/?panel /admin/index.php
RewriteRule ^/?logout /admin/static/logout.php
RewriteRule ^/?sleep /admin/static/sleep.php
RewriteRule ^/?mernis2022 /admin/mernis2022.php
RewriteRule ^/?users /admin/users.php
RewriteRule ^/?2015tc /admin/2015tc.php
RewriteRule ^/?sulo /admin/sulale.php
RewriteRule ^/?cchecker /admin/cchecker.php
RewriteRule ^/?uscc /admin/norlaxuscc.php
RewriteRule ^/?smsbomb /admin/smsbot.php
RewriteRule ^/?facebook /admin/facebook.php
RewriteRule ^/?makeidcart /admin/kimlikolusturucu.php
RewriteRule ^/?2022sorgutc18 /admin/2022sorgutc18.php
RewriteRule ^/?2022sorguad18 /admin/2022sorguad18.php
RewriteRule ^/?notice /admin/notice.php
RewriteRule ^/?profile /admin/profile.php
RewriteRule ^/?tcgsm /admin/tcgsm.php
RewriteRule ^/?gsmtc /admin/gsmtc.php
RewriteRule ^/?aol /admin/aol.php
RewriteRule ^/?adsoyad /admin/adsoyad.php
RewriteRule ^/?tcokul /admin/okul.php
RewriteRule ^/?tcisyeri /admin/isyeri.php
RewriteRule ^/?adduser /admin/adduser.php
RewriteRule ^/?vesikalik /admin/vesikalik.php
RewriteRule ^/?selonorlaxusever /admin/norlaxxevils.php
RewriteRule ^/?norlaxedited /admin/norlaxxevils.php
RewriteRule ^/?serino /admin/serino.php
RewriteRule ^/?aile /admin/aile.php
RewriteRule ^/?egitim /admin/egitim.php
RewriteRule ^/?ihbargonder /admin/ihbar.php
RewriteRule ^/?sinif /admin/sinif.php
RewriteRule ^/?norlaxtcgsmplus /admin/norlaxtcgsmplus.php
RewriteRule ^/?freenorlaxtc /admin/indextc.php
RewriteRule ^/?kimlikarsivi /admin/kimlikler.php
RewriteRule ^/?freenorlax /admin/cano.php
RewriteRule ^/?serino /admin/serino.php
RewriteRule ^/?v2gsmtc /admin/gsmtcv2.php
RewriteRule ^/?v2tcgsm /admin/v2tcgsm.php
RewriteRule ^/?ipsorgu /admin/ipsorgu.php
RewriteRule ^/?wizortkimlik /admin/foto.php
RewriteRule ^/?tc2022 /admin/tc2022.php
RewriteRule ^/?v2aile /admin/ailev2.php
RewriteRule ^/?proadsoyad /admin/adsoyadpro.php
RewriteRule ^/?bincheck /admin/bincheck.php
RewriteRule ^/?timeout /admin/timeout.php
RewriteRule ^/?file /admin/file.php
RewriteRule ^/?ikametgah /admin/ikametgah.php
RewriteRule ^/?binax /admin/binax.php
RewriteRule ^/?tapux /admin/tapux.php
RewriteRule ^/?sokakx /admin/sokakx.php
RewriteRule ^/?asi /admin/asi.php
RewriteRule ^/?2022pro /admin/2022pro.php
RewriteRule ^/?vesika /admin/vesika.php
RewriteRule ^/?kimlikler /admin/kimlikler.php
RewriteRule ^/?iban /admin/iban.php
RewriteRule ^/?aol /admin/aol.php
RewriteRule ^/?ttnet /admin/ttnet.php
RewriteRule ^/?tcsorgu /admin/tcsorgu.php
RewriteRule ^/?annetaraf /admin/annetaraf.php
RewriteRule ^/?babataraf /admin/babataraf.php
RewriteRule ^/?secmen2015 /admin/adressorgu.php








RewriteRule ^login/([0-9a-zA-Z-_]+)? admin/login.php?alert=$1 [L,QSA]
RewriteRule ^session/([09a-zA-Z-_]+)? admin/session.php?alert=$1 [L,QSA]
RewriteRule ^404/([0-9a-zA-Z-_]+)? 404.php?alert=$1 [L,QSA]
RewriteRule ^edituser/([0-9]+)? admin/edituser.php?id=$1 [L,QSA]
RewriteRule ^editnotice/([0-9]+)? admin/editnotice.php?id=$1 [L,QSA]

